<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	​
	<springProperty scope="context" name="springAppName" source="spring.application.name" />
	<!-- yml中取 logstashHost -->
	<springProperty scope="context" name="logstashHost" source="LOGSTASH_HOST" />
	<!-- You can override this to have a custom pattern -->
	<property name="CONSOLE_LOG_PATTERN"
		value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

	<springProfile name="dev">
		<!-- 开发环境 -->
		<!-- Appender to log to console -->
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<!-- Minimum logging level to be presented in the console logs -->
				<level>DEBUG</level>
			</filter>
			<encoder>
				<pattern>${CONSOLE_LOG_PATTERN}</pattern>
				<charset>utf8</charset>
			</encoder>
		</appender>
	</springProfile>

	<springProfile name="test">
		<!-- test 环境 -->
		<!-- Appender to log to console -->
		<appender name="console"
				  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>${logstashHost}</destination>
			<!-- encoder is required -->
			<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
		</appender>
	</springProfile>

	<springProfile name="prod">
		<!-- 生产环境下才会加载的 -->
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<!-- Minimum logging level to be presented in the console logs -->
				<level>DEBUG</level>
			</filter>
			<encoder>
				<pattern>${CONSOLE_LOG_PATTERN}</pattern>
				<charset>utf8</charset>
			</encoder>
		</appender>
	</springProfile>



	<logger name="com.zsc" level="debug" />
	<logger name="com.netflix.eureka" level="warn" />
	<logger name="org.springcloud" level="warn" />

	<root level="info">
		<appender-ref ref="console" />
	</root>
</configuration>